@model _24dh110321_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>XÓA SẢN PHẨM</h2>

<div class="alert-danger ">Bạn có muốn xóa sản phẩm hay không?</div>

@Html.Partial("PVProdinfo", Model)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Xóa", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>

